:root {
    --main-color: #EE6513;
}

body {
    font-family: 'Sofia Pro', 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #1B2652;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/BG.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* LOADER */

.container {
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.box {
    display: inline-block;
    height: 200px;
    width: 100%;
    position: relative;
    transition: all .2s ease;
}

#pageLoading {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.loader1 {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 3px solid var(--main-color);
    top: calc(50% - 43px);
    left: calc(50% - 43px);
    transform-origin: 50% 50%;
    animation: loader1 3s linear infinite;
}

.loader1:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 20px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: var(--main-color); /* Remove 'solid' */
}

@keyframes loader1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*KEYBOARD*/

#keyboard {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 5px;
    background-color: #1B2652;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease;
    border-radius: 5px; /* Optional: add some border radius to make it look better */
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.key {
    padding: 15px;
    margin: 2px; /* Add a small margin to ensure keys don’t touch each other */
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Make the keys flexible to fill the row */
    text-align: center;
    box-sizing: border-box; /* Ensure padding and border are included in the width/height */
    white-space: pre-wrap;
}

.key:active {
    background-color: var(--main-color);
}

@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

*,html{margin:0;padding:0}

//variables
$baseColor : #e74c3c;
$fontColor : #fff;

body{
    background: $baseColor;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
}

.page {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page.active {
    display: flex; 
}


/* ---------------------------------- Media query for DESKTOP ---------------------------------- */

@media (max-width: 3000px) {

    #app {
        width: 100%;
        max-width: 500px;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
        background-color: white;
        border-radius: 10px;
        position: relative;
    }

    #header {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 90%;
        padding-bottom: 20px;
        flex-shrink: 0;
    }

    #header img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    #logoContainer {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: auto;
        display: none;  /* Initially hidden */
    }

    #teamLogo {
        width: 100%;
        height: auto;
    }

    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    #pageLast #card {
        margin: auto;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    button {
        font-family: 'Audiowide', cursive;
        text-transform: uppercase;
        margin: 10px 0;
        width: 50%;
        display: block;
        padding: 10px 20px;
        font-size: clamp(12px, 2vw, 20px);
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 10%;
    }

    h1 {
        font-family: 'Audiowide', cursive;
        text-transform: uppercase;
        color: var(--main-color);
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(12px, 3vw, 22px);
        width: 80%;
        text-align: center;
        line-height: 1.5;
        box-sizing: border-box;
    }

    h2 {
        font-size: 1.5rem;
        color: #1B2652;
        margin-bottom: 20px;
        width: 80%;
    }

    h3 {
        color: #1B2652;
        font-size: 16px;
        margin: 10px 0;
        width: 80%;
    }

    h4 {
        font-size: 1rem;
        color: #1B2652;
        margin-bottom: 20px;
        width: 80%;
    }

    p {
        color: #1B2652;
        margin-bottom: 20px;
        width: 80%;
    }

    /* Input Fields */
    input {
        background-color: #D9D9D9;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        font-size: 16px;
        width: 30%;
        text-align: center;
        cursor: pointer;
        margin-top: 10%;
    }

    #page2 button {
        width: 150px;
        height: 150px;
        border-radius: 50%; 
        flex-shrink: 0; 
        background-color: var(--main-color);
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        z-index: 10;
    }


    /* Countdown Overlay */
    #countdownOverlay {
        display: none;
    }


    /* Card Styling */

    #card {
        width: 50%;
        max-width: 450px;
        aspect-ratio: 822 / 1122;
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 30px auto;
        color: white;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);

    }

    #cardName {
        text-transform: uppercase;
        position: absolute;
        top: 3%;
        left: 20px;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Audiowide', cursive;
    }

    #generatedImage {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    #tagline {
        position: absolute;
        top: 64%;
        text-transform: uppercase;
        font-size: 0.75rem;
        color: #FFEF9D;
        font-family: Avenir, Arial, sans-serif;
    }

    #headline {
        position: absolute;
        top: 68%;
        text-align: left;
        font-size: 1rem;
        width: 90%;
        font-family: Avenir, Arial, sans-serif;
        color: white;
    }

    #cardLogo {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 25%;
        height: auto;
    }

    .TnCnext {
        background-color: #9C9C9C; /* Default disabled color */
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: not-allowed;
        transition: background-color 0.3s ease;
    }

    .TnCnext:enabled {
        cursor: pointer;
    }


    /* Email and Button Containers */
    #emailContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    /* Camera Capture Styling */
    #videoContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 90%;
        max-width: 500px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    video {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    #countdownOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(27, 38, 82, 0.5);
        color: white;
        font-size: 48px;
        font-weight: bold;
        border-radius: 15px;
    }





    h3 {
        width: 80%;
        font-size: clamp(10px, 2vw, 18px);
    }

    p {
        width: 80%;
        font-size: clamp(10px, 2vw, 18px);
    }

    input {
        background-color: #D9D9D9;
        color: black;
        border: none;
        border-radius: 10vw;
        padding: 3% 3%;
        font-size: clamp(18px, 4vw, 32px);
        width: 50%;
        text-align: center;
        cursor: pointer;
    }

    button {
        font-family: 'Audiowide', cursive;
        text-transform: uppercase;
        margin: 10px 0;
        border-radius: 10vw;
        padding: 3% 3%;
        font-size: clamp(18px, 4vw, 32px);
        width: 50%;
        display: block;
        background-color: var(--main-color);
        color: white;
        border: none;
        cursor: pointer;
    }

    #emailContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 3% 3%;
        font-size: clamp(18px, 4vw, 32px);
        width: 50%;
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 3% 3%;
        font-size: clamp(18px, 4vw, 32px);
        width: 50%;
    }


    /* Media query for vertical touchscreen (1080x1920px) */
    @media (min-width: 1080px) {
        #app {
            max-width: 900px; /* Limit app container width to 900px for vertical layout */
            height: 80%;
        }

        h1 {
            font-size: clamp(28px, 6vw, 48px); 
        }

        h3 {
            font-size: clamp(18px, 4vw, 32px);
        }

        p {
            font-size: clamp(12px, 3vw, 28px);
        }

        input {
            background-color: #D9D9D9;
            color: black;
            border: none;
            border-radius: 10vw;
            padding: 3% 3%;
            font-size: clamp(18px, 4vw, 32px);
            width: 50%;
            text-align: center;
            cursor: pointer;
        }

        button {
            font-family: 'Audiowide', cursive;
            text-transform: uppercase;
            margin: 10px 0;
            border-radius: 10vw;
            padding: 3% 3%;
            font-size: clamp(20px, 5vw, 40px);
            width: 50%;
            display: block;
            background-color: var(--main-color);
            color: white;
            border: none;
            cursor: pointer;
        }

        #emailContainer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            position: absolute;
            top: 49%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 3% 3%;
            font-size: clamp(18px, 4vw, 32px);
            width: 50%;
        }

        #buttonContainer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 3% 3%;
            font-size: clamp(18px, 4vw, 32px);
            width: 50%;
        }